<div class="todo-list">
  <div class="todo-container" *ngFor="let todo of todos; trackBy:trackTodoItem">
    <a class="row-item" (click)="deleteTodoItem(todo)">xxxx</a>
    <h4 class="row-item">{{todo.id}} {{todo.item}} has been {{todo.status ? "done" : "not done"}}</h4>
    <todo-item></todo-item>
  </div>
  <div class="todo-adder">
    <input type="text" #item class="text-box">
    <input type="checkbox" #status class="check-box">
    <button (click)="addTodoItem(item.value, status.checked); item.value=''" class="reg-button"></button>
  </div>
</div>
